.cardWidgetContainerEven {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 50px 20px;
    font-size: 22px;
    height: 464px;
    width: 330px;
    border-radius: 50px;
    background-color: rgba(254, 119, 45, 1);
    color: rgba(51, 51, 51, 1);
}

.cardWidgetContainerOdd {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 50px 20px;
    font-size: 22px;
    height: 464px;
    width: 330px;
    border-radius: 50px;
    background-color: rgba(51, 51, 51, 1);
    color: white;
}

.cardTitle {
    font-size: 36px;
}

.cardBtnEven {
    background-color: rgba(41, 41, 41, 1);
    color: white;
    width: 240px;
    height: 54px;
    padding-bottom: 30px;
    border: none;
    border-radius: 16px;
    padding-top: 15px;
    font-size: 16px;
    margin-top: 30px;
}

.cardBtnOdd {
    background-color: rgba(254, 119, 45, 1);
    color: rgba(19, 19, 19, 1);
    width: 240px;
    height: 54px;
    padding-bottom: 30px;
    border: none;
    border-radius: 16px;
    padding-top: 15px;
    font-size: 16px;
    margin-top: 30px;
}

.cardSubtitles {
    font-family: "Rubik";
    font-size: 24px;
    padding-top: 30px;
}

.cardPrice {
    margin-top: 50px;
    font-family: "Montserrat";
    font-size: 40px;
}