.heroContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperTitleHero {
    display: flex;
    align-items: flex-end;

}

.upperTitleHeroCalendarImg {
    height: 32px;
    width: 32px;
}

.upperTitleHeroText {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 24px;
    margin-top: 70px;
}

.heroTitle {
    font-size: 58px;
    color: rgba(254, 119, 45, 1);
    margin-top: 30px;
}

.heroBatImg {
    position: absolute;
    margin-top: 650px;
    margin-left: -600px;
    height: 300px;
    width: 526px;
}