.AppEcommerceContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.EcommTitle {
    font-size: 58px;
    color: rgba(254, 119, 45, 1);
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}