.AboutContainer{
    margin-top: -23vw;
}
.TitleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Subtitle{
    font-size: 60px;
    text-transform: uppercase;
    color: #FE2D2D;
}
.TitleText{
    font-size: 60px;
    text-transform: uppercase;
    color: #FE772D;
}

.AboutInfo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px; 
    align-items: center;
    font-family: Rubik;
}

.AboutTicket{
    margin-top: 40px;
    margin-bottom: 40px;
}

.checkboxesfirstline{
    display: flex;
}

.aboutWeb{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -600px;
    margin-top: -250px;
    direction: ltr;
}

.aboutskul{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -350px;
    margin-top: -700px;
    direction: ltr;
}