.textWithIcon {
    display: flex;
    align-items: center;
    margin: 20px 40px;
    font-size: 25px;
    font-family: Rubik;
  }
  
  .icon {
    margin: 0 10px;
  }
  
  .textWithSingleIcon {
    margin-left: 3px;
  }
  