.textWithIcons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin: 0 3px;
  }
  
  .textBetweenIcons {
    margin-right: 3px;
    margin-left: 3px;
  }
  
  .textWithSingleIcon {
    margin-left: 3px;
  }
  