.ticketContainer {
    display: flex;
    width: 500px;
    height: 90px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    
  }
  
  .leftDiv {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rightDiv {
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    margin-left: 10px;
  }
  
  .ticketIcon,
  .locationIcon {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 0;
  }
  
  .text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .lineTwo{
    display: flex;
    align-items: center;
    justify-content: center;
  }