.header-container{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    align-items: center;
}
.headerLogo{
    font-size: 48px;
}
.navMenu{
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-family: Rubik;
    font-size: 16px;
}