.imageGallery {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px 1px; /* Расстояние между столбцами и рядами */
    justify-items: center;
    align-items: center;
  }
  
  .galleryImage {
    width: 100%;
    height: auto;
    max-width: 85%;
  }
  