.GalleryContainer{
    padding: 20px;
    margin-top: 30vh;
    direction: ltr;
}
  
.GalleryWeb {
    width: 25vw; 
}

.gallerySpiderWeb {
    display: flex;
    justify-content: space-between;
    margin-top: -8vw;
    width: 101.5%;
}

.gallerySpider {
    width: 14vw;
    display: flex;
    justify-content: flex-end;
}
  
.GallerySpider {
    width: 4vw; 
}