.FooterContainer {
    background-color: #000015;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: ltr;
  }
  
  .footerImage {
    width: 99.2vw; 
  }
  
  .halloweenText {
    text-align: center;
    color: #FE772D;
    margin-top: -19.5%;
    font-size: 3.4rem;
    padding: 20px;
    font-weight: 20;
    text-transform: uppercase;
  }
  
  .iconsContainer {
    display: flex;
    justify-content: center;
    gap: 10px; /* расстояние между иконками */
  }
  
  .footerIcon {
    width: 3vw;
    height: 3wv;
  }
  